{% extends "default.html" %}

{% block title %}
Удаление объявления
{% endblock title %}

{% block content %}
    <center><div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="margin: 10px; font-size: 25px;">Удаление объявления</legend>
                <h2>Вы уверены, что хотите удалить запись "{{ object.title }}"?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да, удалить</button>
                <a class="btn btn-outline-secondary" href="{% url 'ad-detail' object.id %}">Отмена</a>
            </div>
        </form>
    </div></center>
{% endblock content %}